*.js @Genetesis/frontend
*.css @Genetesis/frontend
*.scss @Genetesis/frontend
*.html @Genetesis/frontend
*.vue @Genetesis/frontend
*.snap @Genetesis/frontend

*.ipynb @Genetesis/data

*.py @austintoot40

*.tf @Genetesis/devops
.dockerignore @Genetesis/devops
.github/ @Genetesis/devops
terraform/ @Genetesis/devops
Dockerfile @Genetesis/devops

docs/ @Genetesis/admin
